<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:21:25</td>   <td>0</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/11/14 20:21:25</td>   <td>363</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_RBIBasicDetails.setValues()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:21:25</td>   <td>369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:21:38</td>   <td>13074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/11/14 20:21:38</td>   <td>13076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_RBIBasicDetails.basicDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">basicDetails</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:23:05</td>   <td>100253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:23:05</td>   <td>100483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/11/14 20:23:05</td>   <td>100483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_RBIBasicDetails.basicDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">basicDetails</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:24:32</td>   <td>187075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:24:32</td>   <td>187156</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterClass()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/11/14 20:24:33</td>   <td>187839</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:com.rbi.tc.TC001_RBIBasicDetails@6ddf90b0]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
</table>
